<div id="userLogin"></div>
<button id="logout">LOGOUT</button>
<button><a href="/views/cart">CARRITO</a></button>
<button><a href="/views/addproduct">Agregar Producto</a></button>
<div id="pagination">
    <a href="{{products.prevLink}}">PREV</a>
    <a href="{{products.nextLink}}">NEXT</a>
</div>
<div>
    <ul class="product-list">
        {{#each products.payload}}
        <div class="productsCard">
            <h3>{{title}} - U$S {{price}}</h3>
            <p>{{description}}</p>
            <img src="{{thumbnails.[0]}}" alt="{{title}}">
            <div class="actions">
                <button id="addToCart-{{@index}}" data-id="{{_id}}">ADD TO CART</button>
            </div>
        </div>
        {{/each}}
    </ul>
</div>

<script src="/js/home.js"></script>